<template>
  <main class="page">
    <slot name="top" />
    <div class="contributors">
    <div class="contributor">
        <div class="contributor-img">
            <img v-if="$frontmatter.image" :src="$withBase($frontmatter.image)" alt="">
        </div>
        <div class="contributor-content">
          <Content class="theme-default-content" />
        </div>
      </div>
    </div>
    
    <PageEdit />

    <PageNav v-bind="{ sidebarItems }" />

    <slot name="bottom" />
  </main>
</template>

<script>
import PageEdit from '@theme/components/PageEdit.vue'
import PageNav from '@theme/components/PageNav.vue'

export default {
  components: { PageEdit, PageNav },
  props: ['sidebarItems'],
  computed: {
    data () {
      return this.$page.frontmatter
    }
  }
}
</script>

<style lang="stylus">
@require '../styles/wrapper.styl'

.page
  padding-bottom 2rem
  display block

</style>
