
.content:not(.custom) {
    max-width: 100%!important;
    margin: 0 0!important;
}

.page-nav {
    max-width: 100%;
}
.home {
    min-height: 100%;
}

.home .features {
    margin-top: 9.5rem;
}

.home .hero {
    margin-top: 8em;
}

.theme-container.custom-page-class {
  /* page-specific rules */
  display: none;
}

.content__default, .page-nav {
  max-width: 90%!important;
}

.contributors
    display flex
    flex-wrap wrap
    .contributor
        display flex
        align-items center
        margin-bottom 16px
        .contributor-img
            width 16%
            img
                width 88%
                margin auto
                display block
        .contributor-content
            width 84%
            h2
                margin-top 0
                margin-bottom 8px


// Loader from https://github.com/loadingio/css-spinner/blob/master/src/ellipsis/main.styl
//- module
.lds-roller
    display block
    margin-left auto
    margin-right auto
    position relative
    width 300px
    height 300px
    div
        animation lds-roller 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite
        transform-origin 150px 150px
        &:after
            content " "
            display block
            position absolute
            width 12px
            height 12px
            border-radius 50%
            background red
            margin -4px 0 0 -4px
        &:nth-child(1)
            animation-delay -0.036s
        &:nth-child(1):after
            top 63px
            left 63px
        &:nth-child(2)
            animation-delay -0.072s
        &:nth-child(2):after
            top 68px
            left 56px
        &:nth-child(3)
            animation-delay -0.108s
        &:nth-child(3):after
            top 71px
            left 88px
        &:nth-child(4)
            animation-delay -0.144s
        &:nth-child(4):after
            top 72px
            left 100px
        &:nth-child(5)
            animation-delay -0.18s
        &:nth-child(5):after
            top 71px
            left 32px
        &:nth-child(6)
            animation-delay -0.216s
        &:nth-child(6):after
            top 68px
            left 24px
        &:nth-child(7)
            animation-delay -0.252s
        &:nth-child(7):after
            top 63px
            left 17px
        &:nth-child(8)
            animation-delay -0.288s
        &:nth-child(8):after
            top 56px
            left 12px

@keyframes lds-roller
    0%
        transform rotate(0deg)
    100%
        transform rotate(360deg)