<template>
  <div class="contributors" v-if="this.contributors.length">
    <div class="contributor" v-for="contributor in this.contributors">
        <div class="contributor-img">
          <img v-if="contributor.image" :src="$withBase(contributor.image)" alt="">
        </div>
        <div class="contributor-content">
          <router-link :to="contributor.path">
            <h2>{{contributor.title}}</h2>
          </router-link>
          <p>{{contributor.summary}}</p>
        </div>
    </div>
  </div>
</template>

<script>
export default {
  props: ["page"],
  data() {
    return {
      contributors: []
    }
  },
  mounted() {
    let currentPage = this.page ? this.page : this.$page.path;
    let contributors = this.$site.pages.reverse()
      .filter(x => {
        return x.path.match(new RegExp(`(${currentPage})(?=.*html)`));
      })
      // randomize the contributors displaying order
      .sort((a, b) => {
        return 0.5 - Math.random();
      });
    contributors.forEach(contributor => {
      this.contributors.push({
        title: contributor.title,
        summary: contributor.frontmatter.summary,
        path: contributor.path,
        image : contributor.frontmatter.image
      })
    })
  }
};
</script>