<template>
<div class="row">
     <button v-on:click="download">telecharger</button>
</div>

</template>
<script>  
 import JSZip from 'jszip'

// function dowloadAll3ds(){
//    var zip = new JSZip();
//   var count = 0;
//   var zipFilename = "zipFilename.zip";
//   var urls = [
//     "/docs/3d/mecanic-0-4/ROE4-210104-assemblage.stl",
//     "/docs/3d/mecanic-0-4/ROE4-210104-shoulder joint-1.STL",
//     "/docs/3d/mecanic-0-4/ROE4-210104-elastic holder-2.STL",
//     "/docs/3d/mecanic-0-4/ROE4-210104-large elastic holder-1.STL",
//     "/docs/3d/mecanic-0-4/ROE4-210104-large elastic holder-2.STL",
//     "/docs/3d/mecanic-0-4/ROE4-210104-elbow holder-1.STL",
//     "/docs/3d/mecanic-0-4/ROE4-210104-elbow joint-1.STL",
//     "/docs/3d/mecanic-0-4/ROE4-210104-rod sup-1.STL",
//     "/docs/3d/mecanic-0-4/ROE4-210104-shoulder blade segment-1.STL",
//     "/docs/3d/mecanic-0-4/ROE4-210104-wrist H support-2.STL",
//     "/docs/3d/mecanic-0-4/ROE4-210104-wrist holder-2.STL",
//     "/docs/3d/mecanic-0-4/ROE4-210104-wrist joint clip-1.STL",
//     "/docs/3d/mecanic-0-4/ROE4-210104-wrist joint-2.STL",
//   ];

//   urls.forEach(function(url){
//     var filename = "filename";
//     // loading a file and add it in a zip file
//     JSZipUtils.getBinaryContent((url), function (err, data) {
//       debugger
//       if(err) {
//           throw err; // or handle the error
//       }
//       zip.file(filename, data, {binary:true});
//       count++;
//       if (count == urls.length) {
//         var zipFile = zip.generate({type: "blob"});
//         saveAs(zipFile, zipFilename);
//       }
//     });
//   });
// }
export default {  
   data() {
      return {
      };
   },
    // Need to fix the bug of src
   methods: {
      download(){
         // debugger;
         this.loading = false;
      }
   }
 }
</script>  


<style>
.create {
  position: absolute;
  left: 20px;
  top: 20px;
  z-index: 10000;
  background: #fff;
  padding: 4px 6px;
  margin-top: 5px;
  outline: none;
  border: 1px solid #c4c4c4;
}
.snapshot {
  position: absolute;
  bottom: 20px;
  left: 20px;
  height: 200px;
  border: 1px solid #c4c4c4;
  border-radius: 2px;
}
</style>