<template>
<div class="row">
   <div class="3d-loading" v-show="loading">
      <div class="lds-roller"><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div></div>
   </div>
   <model-stl 
      :src="$withBase(this.src)"
      :rotation="rotation"
      @on-load="onLoad"
      @on-click="isRotating"
   ></model-stl>
</div>

</template>
<script>  
 import { ModelStl } from 'vue-3d-model'  
 export default {  
   components: { ModelStl },
   data() {
      return {
         loading: true,
         isRotate: false,
         rotation: {
            x: 0,
            y: 0,
            z: 0,
         },
      };
   },
    // Need to fix the bug of src
   methods: {
      onLoad(){
         // debugger;
         this.loading = false;
      },
      isRotating (){
         this.isRotate = ! this.isRotate;
         this.rotate();
      },
      rotate () {
            if ( this.isRotate ) {
               this.rotation.y -= 0.01;
               // this.rotation.y += 0.01;
               requestAnimationFrame( this.rotate );
            }
            
      }
   },
   props: ['src']
 }
</script>  


<style>
.create {
  position: absolute;
  left: 20px;
  top: 20px;
  z-index: 10000;
  background: #fff;
  padding: 4px 6px;
  margin-top: 5px;
  outline: none;
  border: 1px solid #c4c4c4;
}
.snapshot {
  position: absolute;
  bottom: 20px;
  left: 20px;
  height: 200px;
  border: 1px solid #c4c4c4;
  border-radius: 2px;
}
</style>